<div class="app">
  <app-nav-bar></app-nav-bar>

  <div class="video-container-fluid">
    <video src="./assets/video/Alpine-Milan-HomePage-1680x951-950-non-possible-v3-12072021.mp4" autoplay loop></video>
  </div>
  <div class="container-fluide bg-light">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="text-uppercase">Made by racers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quidem eveniet nemo vero soluta repellendus
          esse, accusamus aut ea.</p>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat laboriosam voluptates magnam, nisi impedit
          rerum possimus quo eos officiis doloribus itaque minima atque, temporibus quam officia repellat iste cum ad.
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, dolores voluptatibus. Architecto quos
          possimus sed commodi ipsa facere soluta ut, ratione accusantium. Culpa quaerat quam, architecto voluptate
          quidem
          ullam sunt accusamus dolorum omnis non molestias eligendi dolores delectus, reiciendis error!</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <video src="../assets/images/sources-homepage/motorisation/MOTEUR_CINEMAGRAPH-.mov" autoplay loop></video>
      </div>
      <div class="col-6">
        <img src="../assets/images/sources-homepage/motorisation/turbo_desktop.png" alt="">
      </div>
    </div>
  </div>

  <app-config-alpine-bar></app-config-alpine-bar>

  <app-choice-bar></app-choice-bar>


  <div>
    <app-view-image-comperator></app-view-image-comperator>
  </div>
</div>